/*Remise à zéro des marges*/

* {
    margin: 0;
    padding: 0;
}


/*Style du header*/

header {
    color: black;
    border-bottom: 2px solid black;
}


/*Style du body*/

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}


/*Style du footer*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    height: 5%;
}




/*Styles de titres*/

h1 {
    margin-bottom: 2%;
    text-align: center;
}

h3 {
    display: inline
}


/*Style général des formulaires*/

.form_style {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
}


/*Contenu encadré, taille 50%*/

.boxed {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
}


/*Contenu encadré, prenant la largeur du parent*/

.boxed_wide {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
}


/* Responsive tablette et ordinateur */

@media only screen and (min-width: 768px) {

    /*Conteneur de la page*/

    .page {
        margin-left: auto;
        width: 80%;
        margin-right: auto;
        margin-bottom: 5%;
    }

    .acteur {
        background-color: rgba(211, 211, 211, 0.596);
        display: inline-flex;
        padding: 5px;
        margin: auto;
        max-width: 100%;
    }

    .image_logo {
        max-width: 100%;
        max-height: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .acteur_logo {
        width: 20%;
        position: relative;
    }

    .acteur_corps {
        width: 65%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .acteur_button {
        width: 15%;
        margin: auto;
    }

    .acteur_button_click {
        background: #ff0000;
        border-radius: 11px;
        padding: 2% 5%;
        color: #ffffff;

        font: normal bold "Open Sans", sans-serif;
        text-align: center;

    }

    a:link {
        text-decoration: none;
    }

    .compteur_vote {
        font-size: 4em;
        color: #000000;
        font-weight: 700;
    }

    .pouce {
        max-width: 100%;
        max-height: 100%;
        width: 40%;
    }


    /*Logo du header*/

    #logoGBAF {
        max-width: 60px;
        margin-top: 5px;
    }


    /*Menu du header*/

    .menusuperieur {
        display: inline-flex;
        list-style: none;
        padding: 0;
        position: relative;
        width: 100%;
    }

    /*Alignement en bas à droite (infos de login dans le header*/

    .connexion_header_computer {
        position: absolute;
        bottom: 0.5em;
        right: 2%;
    }


}


/* Responsive smartphone */

@media only screen and (max-width: 767px) {

    /*Conteneur de la page*/

    .page {
        margin-left: auto;
        width: 80%;
        margin-right: auto;
        margin-bottom: 20%;
    }

    .pouce {
        max-width: 100%;
        max-height: 100%;
        width: 40%;
        max-width: 100px;
    }

    .image_logo {
        max-width: 100%;
        max-height: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    .compteur_vote {
        font-size: 4em;
        color: #000000;
        font-weight: 700;
        display: inline-flex;
    }

    .acteur_button_click {
        background: #ff0000;
        border-radius: 11px;
        padding: 2% 5%;
        color: #ffffff;
        display: inline-block;
        font: normal bold "Open Sans", sans-serif;
        text-align: center;
        margin: auto;
    }

    .acteur {
        background-color: rgba(211, 211, 211, 0.596);
        padding: 5px;
        max-width: 100%;
        margin: auto;
    }

    .acteur_logo {
        position: relative;
    }

    .acteur_corps {
        margin-right: 2%;
        margin-left: 2%;
    }

    .acteur_button {
        position: relative;
        margin: auto;
    }

    /*Logo du header*/

    #logoGBAF {
        max-width: 60px;
        margin: auto;
    }

    /*Menu du header*/

    .menusuperieur {
        display: block;
    }

    .connexion_header_smartphone {
        text-align: center;
        margin-bottom: 4px;
    }
}

.acteur_button_click:hover {
    background-color: #bd2a2a;
}


/*Alignement droite*/

.aligne_a_droite {
    float: right;
}


/* Entrées formulaire */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Style des boutons de formulaire */

input[type=submit] {
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/*Bouton submit survolé*/

input[type=submit]:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}


/* Entrée de formulaire invalide  */

input:invalid {
    border: 2px dashed;
}


/*Entrée de formulaire valide */

input:valid {
    border: 1px solid black;
}


/*Titre dans un formulaire */

form h1 {
    font-family: "Roboto", Arial, Verdana, "Lucida Grande", sans-serif;
    text-align: center;
}


/*Centrer un texte*/

.centered {
    text-align: center;
}


/*Centrer une div*/

.div_centered {
    margin-left: auto;
    margin-right: auto;
}


/*Espace en bas*/

.bottom_space {
    margin-bottom: 2%;
}


/*Texte en gras et rouge*/

.redbold {
    color: red;
    font-weight: bold;
}




/*Style gras*/

.bold {
    font-weight: bold;
}


/*Style italique*/

.italique {
    font-style: italic;
}


/*Style des boutons de vote*/

.bouton_pouce {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.bouton_pouce:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}


/*Texte souligné*/

.underline {
    text-decoration: underline;
}

a {
    color: black
}


/*Couleur du lien dans le bouton commentaire*/

.bouton_pouce a {
    color: #666666;
}


/*Couleur des liens dans le bouton acteur "Lire la suite"*/

.acteur_button_click a {
    color: white
}

.image_accueil {
    max-width: 80%;
}