/*Remise à zéro des marges*/
*{
    margin: 0;
    padding: 0;
    }
header{
    color: black;
    border-bottom: 2px solid black ;
}
h3{display:inline}
.aligne_a_droite{ float:right;}
body{
    font-family:  Helvetica,sans-serif;
    background-image: linear-gradient( #fdfbfb 0%, #ebedee 100%); 
    font-size: medium;
}

footer{
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    height: 5%;
}
.page{
    margin-bottom: 5%;
}


a{
    color: black;
    text-decoration: underline;   
}
a:hover{
    color: grey;
    text-decoration: underline;   
}


/* Formulaire */
form {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
}

.boxed{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
}
.boxed_wide{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
}

.boxed_80{   
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
}


@media only screen and (min-width: 768px) {
    /* tablettes et ordinateurs */
    .acteur{
        background-color: rgba(211, 211, 211, 0.596);
        display: inline-flex;
        
        padding: 5px;
        margin : 5px;
        max-width: 100%;

    }
    
    .acteur_logo{
        width: 20%;
        position : relative;
    }
    .acteur_corps{
        width: 65%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .acteur_button{
        width: 15%;
        position : relative;
    }
    .acteur_button_click
    {   background:    #ff0000;
        border-radius: 11px;
        padding:       20px 45px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal bold  "Open Sans", sans-serif;
        text-align:    center;
    }
    .acteur_button_click_mobile
    {   background:    #ff0000;
        border-radius: 11px;
        padding:       20px 45px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal bold "Open Sans", sans-serif;
        text-align:    center;
    }
    .image_logo
{
    max-width: 100%;
    max-height: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    
}
.compteur_vote
{ 
    font-size: 4em;
    color: #000000;
    font-weight: 700;



}
.pouce
{
    max-width: 100%;
    max-height: 100%;
    width: 40%;
}
}

@media only screen and (max-width: 767px) {
        /* smartphone */
        .pouce
{
    max-width: 100%;
    max-height: 100%;
    width: 40%;
    max-width: 100px;
}
        .image_logo
        {
            max-width: 100%;
            max-height: 100%;
            margin-right: auto;
            margin-left: auto;
        }
        .compteur_vote
{ 
    font-size: 4em;
    color: #000000;
    font-weight: 700;
    display: inline-flex;


}

.acteur_button_click
{ background:    #ff0000;
    border-radius: 11px;
    padding:       2% 5%;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold "Open Sans", sans-serif;
    text-align:    center;

}
.acteur_button_click_mobile
{  background:    #ff0000;
    border-radius: 11px;
    padding:       2% 5%;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold "Open Sans", sans-serif;
    text-align:    center;

}

    .acteur
    {
        background-color: rgba(211, 211, 211, 0.596);
        display: block;
        padding: 5px;
        margin : 5px;
        max-width: 100%;
    
    }
    
    .acteur_logo
    {
        position : relative;

    }
    .acteur_corps
    {
    margin-right: 2%;
    margin-left: 2%;
    }
    .acteur_button
    {position : relative;
    margin: auto;
    }


.flottant_gauche
{float: left;

}
        }

.button_click
{  
    display:inline-block;
    cursor:pointer;
   
    width: 20%;
    height: 4em;

}
    





.width85
{
    min-width:85%;
}
.acteur_button_click:hover
{
    background-color:#bd2a2a;
}
.acteur_button_click_mobile:hover
{
    background-color:#bd2a2a;
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



/* Style des boutons */
input[type=submit] {
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* Entrée de formulaire invalide  */
input:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 1px solid black;
  }
/*Titre dans un formulaire */
form h1
{
    font-family: "Roboto",Arial,Verdana,"Lucida Grande",sans-serif;
    text-align: center;
}
h1
{
    margin-bottom:2%;
    text-align: center;
}

.centered
{
    text-align: center;
}

.div_centered
{margin-left: auto;
margin-right: auto;}
/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + img {
    outline: 2px solid #f00;
  }
.bottom_space
{
    margin-bottom:2%;
}
.redbold
{
    color: red;
    font-weight: bold;
    margin-bottom: 60px;
}
#listeBanque
{
    display:inline
}
#logoGBAF
{
    max-width: 60px;
    margin-top: 5px;
    
}
.conteneur
{
    width: 80%;
    margin:auto;
}
.menusuperieur {
    display: inline-flex;
    list-style: none;
    padding: 0;
    position: relative;
    width: 100%;
  } 

.bottom_align 
{
    position:absolute;
    bottom: 0.5em;
    right : 30px;
}
.bold{
    font-weight: bold;
}
.italique{
    font-style: italic;
}