html, body
{ 
    min-height : 100%; 

}

body
{
    font-family:  Helvetica,sans-serif;
    font-size: normal;
    background-image: linear-gradient( #fdfbfb 0%, #ebedee 100%);
    overflow-x: hidden; 

}
footer
{
    background-color: rgb(31, 31, 31);
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    text-align: center;
    
}
.formulaire
{
    line-height: 200% ;
    background-color: white;
    display : inline-block;
    margin-top: 2%;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 3px;
    box-shadow: 0 0 20px black;
}

.form_input
{
    width: 100%;
}
.submit
{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    font-family: "Roboto",Arial,Verdana,"Lucida Grande",sans-serif;
}
.conteneur
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenu 
{   display : block ;
    width : 100%;
    min-height: 100% ;
    position:relative;
   
}
#listeBanque
{
    display:inline
}
#logoGBAF
{
    max-width: 40px;
    margin: 5px;
    
}
#presentation
{
    padding: 5px;
    width: 70%;
}
#presentation.blocktext
{
    margin-left: auto;
    margin-right: 20%;
}