/*Remise à zéro des marges*/
*{
    margin: 0;
    padding: 0;
    }


body
{
    font-family:  Helvetica,sans-serif;
    background-image: linear-gradient( #fdfbfb 0%, #ebedee 100%); 
    font-size: medium;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
    height: 5%;
  }
 header 
{
    color: white;
}

a 
{
    color: black;
    text-decoration: underline;   
}
a:hover
{
    color: grey;
    text-decoration: underline;   
}


/* Formulaire */
form {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 0px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



/* Style des boutons */
input[type=submit] {
    background-color: #ff0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
/*Titre dans un formulaire */
form h1
{
    font-family: "Roboto",Arial,Verdana,"Lucida Grande",sans-serif;
    text-align: center;
}

.centered
{
    text-align: center;
    margin-top: 1em;
}  
.redbold
{
    color: red;
    font-weight: bold;
}
#listeBanque
{
    display:inline
}
#logoGBAF
{
    max-width: 60px;
    margin: 5px;
    
}
#presentation
{
    padding: 5px;
    width: 70%;
}
#presentation.blocktext
{
    margin-left: auto;
    margin-right: 20%;
}